body{
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #FAF7F0;
    --cor-secundaria: #B17457;
    --cor-tercearia: #4A4947;
    --cor-hover: #D8D2C2;
}

.cabecalho {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: var(--cor-secundaria);
    padding: 10px 30px;
}

.titulo_cabecalho{
    font-size: 40px;
    margin-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    color: #2F2F2F;
}

.menu_cabecalho{
    margin-right: 5%;
}

.lista_menu_cabecalho {
    display: flex;
    gap: 100px;
    list-style: none;
    margin-right: 5%;
    padding: 0;
}

.link_menu {
    text-decoration: none;
    color: var(--cor-tercearia);
    font-weight: bold;
    font-size: 30px;
}

.link_menu:hover {
    color: var(--cor-hover);
}

.titulo_principal{
    font-size: 3rem;
    font-family: 'Krona One', sans-serif;
    color: var(--cor-tercearia);
}

.texto_principal{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--cor-tercearia);
}

.conteudo_principal{
    padding: 3% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.imagem_principal{
    width: 30%;
}

.botao_principal{
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: center;
    border: 2px solid var(--cor-tercearia);
    width: 20%;
    text-align: center;
    border-radius:20px;
    font-size: 2rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-tercearia);
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}

.botao_principal:hover{
    background-color: var(--cor-tercearia);
    color: var(--cor-hover);
    cursor: pointer;
    transition: 0.3s;
}
