<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Editar Empréstimo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <header class="cabecalho">
        <h1 class="titulo_cabecalho">Editar Ferramentas</h1>
        <nav>
            <a class="link_menu" href="{{ url_for('emprestimo') }}">Voltar</a>
        </nav>
    </header>

    <main class="conteudo_editar">
        <h1 class="titulo_principal">Editar Ferramenta</h1>
        <form action="{{ url_for('atualizar_emprestimo', id=emprestimo[0]) }}" method="POST">

            <label>Data do Empréstimo:</label><br />
            <input type="date" name="dt_emprestimo" value="{{ emprestimo[1] }}" required /><br /><br />

            <label>Data de Entrega:</label><br />
            <input type="date" name="dt_entrega" value="{{ emprestimo[2] }}" required /><br /><br />

            <label>Responsável:</label><br />
            <input type="text" name="nome_responsavel" value="{{ emprestimo[3] }}" required /><br /><br />

            <label>Obra:</label><br />
            <input type="text" name="nome_obra" value="{{ emprestimo[4] }}" required /><br /><br />

            <label>Almoxarife:</label><br />
            <input type="text" name="nome_almoxarife" value="{{ emprestimo[5] }}" required /><br /><br />

            <label>ID da Ferramenta (não pode ser alterado):</label><br />
            <input type="text" value="{{ emprestimo[7] }}" disabled /><br /><br />

            <input type="hidden" name="id_ferramenta" value="{{ emprestimo[7] }}" />

            <button type="submit" class="botao_principal">Salvar Alterações</button>
        </form>
    </main>
</body>
</html>
