<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>AlmoXTool:  Emprestimos</title>
</head>
<body>
    <header class="cabecalho">
        <div class="titulo_cabecalho_apresentacao">
        <img src="static/assets/contruction2.png" alt="">
        <h1 class="titulo_cabecalho">AlmoXTool</h1>
        </div>
        <nav class="menu_cabecalho">
            <ul class="lista_menu_cabecalho">
                <li><a class="link_menu" href="http://127.0.0.1:5000">Início</a></li>
                <li><a class="link_menu" href="http://127.0.0.1:5000/ferramentas">Ferramentas</a></li>
                <li><a class="link_menu" href="http://127.0.0.1:5000/emprestimo">Empréstimos</a></li>
            </ul>
        </nav>
    </header>
    
    <main class="conteudo_principal_ferramentas">
        <div class="cadastro_ferramentas">
            <h1 class="titulo_principal">Cadastrar Empréstimo</h1>
            <form action="/cadastrar_emprestimo" method="POST">
                <label>Data do Empréstimo:</label><br>
                <input type="date" name="dt_emprestimo" required><br><br>
                
                <label>Data de Entrega:</label><br>
                <input type="date" name="dt_entrega" required><br><br>

                <label>Responsável:</label><br>
                <input type="text" name="nome_responsavel" required><br><br>

                <label>Obra:</label><br>
                <input type="text" name="nome_obra" required><br><br>

                <label>Almoxarife:</label><br>
                <input type="text" name="nome_almoxarife" required><br><br>

                <label>Ferramenta:</label><br>
                <select name="id_ferramenta" required>
                    <option value="">Selecione a ferramenta</option>
                    {% for ferramenta in ferramentas %}
                        <option value="{{ ferramenta[0] }}">{{ ferramenta[1] }}</option>
                    {% endfor %}
                </select><br><br>

                <button type="submit" class="botao_principal">Cadastrar</button>
        </form>
        </div>
         <div>
        <h2 class="titulo_principal">Empréstimos Realizados</h2>
        <table class="tabela_emprestimos">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Data Empréstimo</th>
                    <th>Data Entrega</th>
                    <th>Responsável</th>
                    <th>Obra</th>
                    <th>Almoxarife</th>
                    <th>Ferramenta</th>
                </tr>
            </thead>
            <tbody>
                {% for emprestimo in emprestimos %}
                <tr>
                    <td>{{ emprestimo[0] }}</td>
                    <td>{{ emprestimo[1] }}</td>
                    <td>{{ emprestimo[2] }}</td>
                    <td>{{ emprestimo[3] }}</td>
                    <td>{{ emprestimo[4] }}</td>
                    <td>{{ emprestimo[5] }}</td>
                    <td>{{ emprestimo[6] }}</td>
                </tr>
                <td>
                            <form action="/editar/{{ emprestimo[0] }}" method="get" style="display:inline;">
                            <button type="submit" class="botao_editar">Editar</button>
                            </form>

                            <form action="/excluir/{{ emprestimo[0] }}" method="post" style="display:inline;">
                            <button type="submit" class="botao_excluir">Excluir</button>
                            </form>
                        </td>    
                {% endfor %}
            </tbody>
        </table>
        </div>
    </main>

    <footer class="rodape">
        <p>© 2025 AlmoXTool. Todos os direitos reservados.</p>
        <p>Desenvolvido por: 
        <a href="https://github.com/Alex-Olv" class="link_rodape">Alex Curvo</a> | 
        <a href="https://github.com/Silvio2627" class="link_rodape">Silvio Medeiros</a> | 
        <a href="https://github.com/victor020pro" class="link_rodape">Victor Silva</a>
        </p>
    </footer>
    
    
</body>
</html>