<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>AlmoXTool</title>
</head>
<body>
    <header class="cabecalho">
        <h1 class="titulo_cabecalho">AlmoXTool</h1>
        <nav class="menu_cabecalho">
            <ul class="lista_menu_cabecalho">
                <li><a class="link_menu" href="inicio.html">Início</a></li>
                <li><a class="link_menu" href="#">Ferramentas</a></li>
                <li><a class="link_menu" href="#">Empréstimos</a></li>
                <li><a class="link_menu" href="#">Devoluções</a></li>
            </ul>
        </nav>
    </header>
    <main >
        
                       
    </main>
    <footer class="rodape">
        <p>© 2025 AlmoXTool. Todos os direitos reservados.</p>
        <p>Desenvolvido por: 
        <a href="https://github.com/Alex-Olv" class="link_rodape">Alex Curvo</a> | 
        <a href="https://github.com/Silvio2627" class="link_rodape">Silvio Medeiros</a> | 
        <a href="https://github.com/victor020pro" class="link_rodape">Victor Silva</a>
        </p>
    </footer>
     
</body>
</html>


